---
import Kotak from "./kotak.astro";

const { title, text } = Astro.props;
---

<Kotak>
  <div
    class="m-4 [&>*]:mb-3 [&_img]:block [&_img]:mx-auto [&_h1,h2,h3,h4,h5,h6]:uppercase [&_h1,h2,h3,h4,h5,h6]:!font-bold [&_.tc-tiddlylink-resolves]:underline [&_.tc-tiddlylink-missing]:cursor-text [&_pre]:overflow-auto [&_pre]:bg-gray-100 [&_.tc-tiddlylink-external]:underline [&_.tc-tiddlylink-external]:decoration-dotted"
  >
    <h1>{title}</h1>
    <Fragment set:html={text} />
  </div>
</Kotak>
