---
import gambar from "../data/gambar";
import Kotak from "./kotak.astro";
import {acak} from "kumpulan-tools"

let list_shopee = await fetch("https://raw.githubusercontent.com/mzaini30/shopee/master/data.json")
list_shopee = await list_shopee.json()

let terpilih = acak(list_shopee)[0]

const { posisi } = Astro.props;

let gambar_filter = [];
for (let n in gambar) {
  if (posisi == "kiri") {
    if (n % 2 != 0) {
      gambar_filter.push(gambar[n]);
    }
  } else {
    if (n % 2 == 0) {
      gambar_filter.push(gambar[n]);
    }
  }
}
---

<a href={terpilih.link}>
      <Kotak>
        <img src={terpilih.gambar} alt="" />
      </Kotak>
  </a>  
