---
import Base from "./base.astro";
import Header from "../komponen/header.astro";
import Sidebar from "../komponen/sidebar.astro";
import Whatsapp from "../icon/whatsapp.astro";

const { judulnya } = Astro.props;
---

<Base judul_halaman={judulnya}>
  <Header />
  <div class="p-5 pt-0">
    <div class="grid grid-cols-1 sm:grid-cols-4 gap-5">
      <div class="col-span-1 sm:col-span-2">
        <slot />
      </div>
      <div class="col-span-1 sm:order-first last:[&>*]:sticky last:[&>*]:top-4">
        <Sidebar posisi="kiri" />
      </div>
      <div class="col-span-1 last:[&>*]:sticky last:[&>*]:top-4">
        <Sidebar posisi="kanan" />
      </div>
    </div>
  </div>
  <a class="fixed bottom-4 right-4" href="https://wa.me/6281545143654">
    <Whatsapp />
  </a>
</Base>
